body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: monospace;
  background-color: #24252a;
}
  main
  {
    height: 600px;
    width: 400px;
    background: #24252a;
    margin-top: 50px;
    padding-right: 20px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 5px 0px black;
  }
  form{
    height: auto;
    width: 100%;
  }
  input{
    margin-top: 30px;
    height: 30px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #cf000f;
    outline :none;
    background-color: #24252a;
    color: white;
    font-size: 25px;
  }
  input:focus{
    border-bottom: 3px solid green;
  }
  .name
  {
    float: left;
    font-size: 20px;
  }
  textarea{
    color: #f62459;
    height: 30%;
    width: 100%;
    border: none;
    outline: none;
    background-color: #24252a;
    border-style: ridge;
    text-align: left;
  }
  button{
    margin-top: 20px;
    height: 30px;
    width: 100%;
    background-color: #013243;
    border: none;
    outline: none;
    transition: 0.5s ;
    color: white;
    font-size: 20px;
  }
  button:hover{
    background-color: #1f3a93;
  }

/*the message box is shown when the user clicks on the Password feid*/
  #message{
    display:block;
    background: none;
    color: white;
    position: relative;
    padding: 20px;
    margin-top: 10px;
  }
  #message p {
  padding: 0px 25px;
  font-size: 18px;
  float: left;
}
.valid {
  color: green;
}
.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}
