@import url('https://fonts.googleapis.com/css2?family=Georama:wght@100;300&family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

body {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  background: linear-gradient(90deg, #2e3131 50%, #bfbfbf 50%);
}

main {
  height: 100%;
  width: 100%;
  background: none;
}

.form_base_div {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 500px;
  width: 400px;
  background-color: white;
  box-shadow: 0px 0px 5px 0px black;
  border-radius: 1rem;
}

.logo_div {
  height: 100px;
  width: 100%;
}
.img {
  height: 100px;
  width: 100px;
  margin-top: 10px;
  float: left;
  margin-left:10px;
}

.compaylogo_text {
  float: right;
  margin-top: 50px;
  font-family: 'Source Code Pro', monospace;
  font-weight: bolder;
  margin-right:30px;
  font-size: 18px;
  text-decoration: underline;
}

.form_div {
  height: 80%;
  width: 80%;
  padding: 10px;
}

.l1 {
  width: 100%;
  height: auto;
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 15px;
  text-align: left;
  float: left;
  padding-left: 10px;
  color:#22313f;
}

input {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  font-size: 20px;
  border: 1px solid;
}
input:focus {
  background-color:#c8f7c5;
}
#id_field
{

}


select {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  font-size: 20px;
  border: 1px solid;
}

button {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  background-color: #013243;
  border: none;
  outline:none;
  color: white;
  font-size: 20px;
  transition: 0.7s
}
button:hover {
  border-radius: 5rem;
  background-color: #24252a;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


@media (max-width:800px)
{
  body {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    background: linear-gradient(90deg, #2e3131 60%, #bfbfbf 50%);
  }
  .form_base_div {
    margin-left: 30px;
    height: 500px;
    width: 350px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px black;
    border-radius: 1rem;
  }
  .form_div {
    height: 80%;
    width: 80%;
    padding: 10px;

  }
}
